<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/lib/ng-cordova.min.js"></script>

    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers/home-controller.js"></script>
    <script src="js/controllers/gallery-controller.js"></script>
    <script src="js/controllers/camera-controller.js"></script>
    <script src="js/controllers/setting-controller.js"></script>
    <script src="js/services/camera-service.js"></script>
    <script src="js/services/nav-service.js"></script>
    <script src="js/routes/routes.js"></script>

  </head>
  <body ng-app="app">

    <div class="bar bar-header bar-dark">
      <h1 class="title">COMPLEMENTS</h1>
    </div>




            <ion-tabs class="tabs-dark tabs-icon-top">

    <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ng-controller="HomeController" on-drag-right="onDragRight()">

      <ion-view on-drag-right="onDireita()" on-drag-left="onEsquerda()">



            <ion-content>

            
              <div class="bar bar-header ipt item-input-inset">
                  <label class="item-input-wrapper">
                      <i class="icon ion-ios-search placeholder-icon"></i>
                      <input type="search" placeholder="Search">
                  </label>
            </div>

           

                <h3 class="texto-home">montando minha galeria de albuns</h3>
              </ion-content>
            </ion-view>


      </ion-tab>





      <ion-tab title="Camera" icon-on="ion-ios-camera" icon-off="ion-ios-camera-outline" ng-controller="CameraController" on-select="testeSelected()">
      <ion-view on-drag-right="onDireita()" on-drag-left="onEsquerda()">

  <button class="button button-dark btn ion-android-camera " type="button" ng-click="tiraFoto()"></button>

            <ion-content>

                    

              
                <div class="btn-save ion-left ion-heart " ng-click="saveFoto()" ng-if="imageCamera"> Save my photo</div>


                <div class=" item-image ">
                  <img ng-src="{{imageCamera}}" ng-if="imageCamera">

                </div>

              

            </ion-content>
        </ion-view>

      </ion-tab>







        <ion-tab title="Gallery" icon-on="ion-image" icon-off="ion-images" ng-controller="GalleryController" on-select="selected()">
      <ion-view on-drag-right="onDireita()" on-drag-left="onEsquerda()">


              <ion-content>



                  <div class="btn-save ion-left ion-heart " ng-click="saveFoto()" ng-if="imageGallery"> Save my image</div>


                  <div class=" item-image ">
                    <img ng-src="{{imageGallery}}" ng-if="imageGallery">

                  </div>
              </ion-content>
          </ion-view>

</ion-tab></ion-tabs>









  </body>
</html>
