
.btn{
 border-radius: 50%;
 position: fixed;
 bottom:5%;
 text-align:center;
 width: 50px;
 height: 50px;

 right:10%;
 z-index: 100;

}

.texto-home{
  padding-top: 30%;
}

.btn-save{
	font-size: 1.2em;
	position: absolute;
    right:30%;
    top:2%;
    z-index: 100;
}

input[type=search]:focus{
box-shadow: 5px 5px 5px gray;
	border: 2px solid gray;

 }

 input[type=search]{
 }